; ##############################################################################
; Git setup configurations
; ##############################################################################

[core]
  editor = nano
  commentChar = @
  excludesfile = ~/.gitignore_global
[include]
  path = ~/.gituser