# ##############################################################################
# nano color configurations
# ##############################################################################

set titlecolor brightwhite,red
set statuscolor brightwhite,red
set errorcolor brightwhite,red
set selectedcolor brightwhite,magenta
set numbercolor red
set keycolor yellow
set functioncolor red

# ##############################################################################
# nano setup configurations
# ##############################################################################

set autoindent
set historylog
set linenumbers
set locking
set mouse
set nowrap
set smooth
set suspend
set tabsize 2
set tabstospaces
set trimblanks

# ##############################################################################
# nano setup syntax coloring
# ##############################################################################
include "/usr/local/share/nano/*.nanorc"
