! ##############################################################################
! XResources color configurations
! ##############################################################################

*foreground: #657b83
*background: #002b36
*color0: #073642
*color1: #dc322f
*color2: #859900
*color3: #b58900
*color4: #268bd2
*color5: #d33682
*color6: #2aa198
*color7: #eee8d5
*color8: #002b36
*color9: #cb4b16
*color10: #586e75
*color11: #657b83
*color12: #839496
*color13: #6c71c4
*color14: #93a1a1
*color15: #fdf6e3
*pointerColor: #93a1a1
*cursorColor: #dc322f

! ##############################################################################
! URxvt setup configurations
! ##############################################################################

URxvt.loginShell: true
URxvt.saveLines: 4096
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.cursorBlink: true
URxvt.font: xft:Fira Code:size=10
URxvt.internalBorder: 8
URxvt.iso14755: false
URxvt.perl-ext-common: selection-to-clipboard

! ##############################################################################
! XTerm setup configurations
! ##############################################################################

xterm*loginShell: true
xterm*termName: xterm-256color
xterm*locale: true
xterm*utf8: always
xterm*utf8Fonts: always
xterm*saveLines: 4096
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*cursorBlink: true
xterm*faceName: Fira Code
xterm*faceSize: 10
xterm*renderFont: true
xterm*internalBorder: 8
xterm*selectToClipboard: true
xterm*translations: #override \n\
  Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD)

! ##############################################################################
! Miscellaneous setup configurations
! ##############################################################################

Xcursor.size: 16
